body{
  /*background-color: #e4f5f7;*/
  background-color: #11ffee00;
  margin: 0;
}
hr{
  border-style: dotted none none ;
  width: 10%;
  border-width: 5px;
  border-color: gold;
}
video{
  width:250px;
  height: 200px;
  margin-right: 1%;
  margin-top: 1%;
}
h1{
  font-family:'sacrament',cursive;
color:green;
display: inline-block;
}
p{
color:green;
margin: 0;
}
div{
  width: 0;
}
/*p{
  color: deeppink;
}*/
h3{
  color: purple;
  text-align: center;
}
td{
  color: darkgreen;
  text-align: center;
  width:2%;
  /*height: 10%;*/
}
th{
 color: black;
 background-color: gold;
}
/********  CLASS   ********/
.h12{
  text-align: center;
}
.div2{
  background-color: #e4f5f6;
  position: relative;
  width: 100%;
}
.imgcloud{
  display: block;
  position: relative;
  left:68%;
  top: 20px;
  bottom: 20px;
}
.imgcloud2{
  position: absolute;
  display:inline-block;
  left: 5%;
  top: 24%;
}
.lst{
  background-color: #fdf9f9;
  position: relative;
  width: 100%;
}
.lsttbl{
  width: auto;
}

.pod1{
  margin-left: 2%;
  margin-right: 3%;
  width: 150px;
  padding-left:10px;
 /* padding-right: 30px;*/
}
.pod2{
  margin-left:2%;
  margin-right:2%;
  width:150px;
  padding-left: 10px;
}
.sat{
  position:relative;
  /* background-color: #fcfeeb;*/
  background-color: skyblue;
   text-align: center;
     width: 100%;
}
.ttab{
  position: relative;
  height: auto;
  display: inline-block;
  width: 150px;
  padding-left: 3%;
}
.vid{
  background-color:#66bfbf;
  width: auto;
}
.vid1{
  border-radius: 100%;
     width: 50%;
      margin: 7%;
      display: inline-block;
      position: relative;
}
.wrk{
  border-radius: 100%;
  position: relative;
  display: inline-block;
  left: auto;
}


/************ ID*********************/
#img1{
  position: absolute;
}
#lst1{
  border-radius: 100%;
  width:180px;
  margin-left:1%;
  margin-bottom: 1%;
  margin-top: .5%;
  text-align: center;
}
#cpyrt{
  text-align: center;
  color: black;
}
